// SIMPLE GRID - SASS/SCSS
@import "gridlex";
@import "modal";
@import "swiper";
@import "./hamburgers/hamburgers.scss";

@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,700");

// fonts
$font-family: "Fira Sans", Helvetica, sans-serif;
$font-weight-regular: 400;
$font-weight-heavy: 700;
$font-height: 1.5;

// colors
$primary-red: rgba(128, 50, 58, 1);
$secondary-red: rgba(134, 53, 56, 1);
$primary-gray: rgba(74, 74, 74, 1);
$secondary-gray: rgba(216, 216, 216, 1);
$third-gray: rgba(244, 244, 244, 1);
$coal: rgba(43, 43, 43, 1);
$black: #000;

// universal

html,
body {
	margin: 0;
	padding: 0;
	left: 0;
	top: 0;
	font-size: 16px;
	background: #fff;
	box-sizing: border-box;
	clear: both;
}

* {
	font-family: $font-family;
	color: $black;
	line-height: $font-height;
	-webkit-font-smoothing: antialiased;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

textarea,
input.text,
input[type="text"],
input[type="button"],
input[type="email"],
input[type="submit"],
.input-checkbox {
-webkit-appearance: none;
border-radius: 0;
}
// typography

h1 {
	font-size: 2.5rem;
	line-height: 2rem;
	@media screen and (max-width:42em) {
		font-size: 1.94rem;
	}
}

h2 {
	margin-top: 3em;
	margin-bottom: 0;
	font-size: 2rem;
	@media screen and (max-width:42em) {
		font-size: 1.38rem;
		margin-bottom: 0;
	}
}

h3 {
	font-size: 1.3125rem;
	@media screen and (max-width:42em) {
		font-size: 1.13rem;
	}
}

h4 {
	font-size: 1.125rem;
}

h5 {
	font-size: 1rem;
}

h6 {
	font-size: 0.875rem;
}

p {
	font-size: 1rem;
	font-weight: 200;
	@media screen and (max-width:42em) {
		font-size: .75rem;
	}	
}
address {
	font-style: normal;
	margin: 1em 0;
	@media screen and (max-width:42em) {
		font-size: .75rem;
	}	
}
li {
	font-size: 1rem;
	font-weight: 200;
	@media screen and (max-width:42em) {
		font-size: 1.44rem;
	}	
}

q, 
blockquote {
    quotes: "\201C" "\201D" "\2018" "\2019";
}

a{
	text-decoration: none;
	transition: 300ms;
	border-bottom: 1px solid transparent;
}
a:hover {
	border-color: black;
}

.font-regular {
	font-weight: $font-weight-regular;
}

.font-heavy {
	font-weight: $font-weight-heavy;
}

figcaption {
	display: flex;
	flex-direction: column;

	p {
		margin-bottom: 0.2em;
		color: $secondary-red;
	}
	small {
		font-size: 0.75em;
	}
}

// utility

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.justify {
	text-align: justify;
}

.hidden-sm {
	display: none;
}
.container {
	max-width: 72em;
	margin: 0 auto;
	padding: 0 1em;
}
.cta {
	display: flex;
	align-self: flex-start;
	border: none;
	border-radius: 3px;
	background: $primary-red;
	color: #fff;
	font-size: 1em;
	margin: 2em 0;
	padding: 0.65em 2.5em;
	@media screen and (max-width:36em) {
		padding: 0.65em 1.8em;
		font-size: .75em;
	}
	letter-spacing: 0.05em;
	-webkit-text-stroke: 1px rgba(255, 255, 255, 0.1);
	text-decoration: none;
}

.long {
	padding: 0.65em 6.5em;
	@media screen and (max-width:42em) {
		padding: 0.65em 4em;
	}
}
.full {
	padding: 0.65em;
	width: 100%;
	display: block;
}

.semititle {
	padding-left: 0;
	padding-right: 0;
}

.desc {
	font-size: 1.13em;
	color: $primary-gray;
	margin: 0 0 3em 0;
	@media screen and (max-width:42em) {
		font-size: .94em;
	}	
}
.sec {
	@media screen and (max-width:42em) {
		font-size: .75em;
	}	
}


.nav {
	display: flex;
	width: 100%;
	justify-content: flex-end;
	padding: 1.5em 0 0 0;
	margin: 0;
	background: white;
	z-index: 1000;
	@media screen and (max-width:42em) {
		position: fixed;
		padding: .75em 0 0 0;
		margin-left: -1em;
	}	
	picture {
		padding: 0;
		img {
			object-fit: contain;
			max-width: 160px;
			@media screen and (max-width:42em) {
				max-width: 118px;
				margin-left: 1em;
			}	
		}
	}
	.hamburger {
		display: none;
		@media screen and (max-width:42em) {
			position: absolute;
			top: 1em;
			display: block;
			padding-top: 0;
			padding-right: 1em;
		}	
		.hamburger-label {
			margin-right: 1.4em;
		}
	}
	.menu {
		display: flex;
		padding: 0;
		flex-direction: row;
		@media screen and (max-width:42em) {
			display: none;
			position: fixed;
			width: 100vw;
			height: 100vh;
			flex-direction: column;
			align-content: center;
			justify-content: flex-start;
			top: 2.8em;
			left: 2.2em;
			margin-left: -2.2em;
			padding: 2.6em 0 0 0;
			background: white;
		}
		&.visible {
			display: flex;
		}

		list-style: none;
		justify-content: flex-end;
		//margin: 0;
		.nav__elem {
			margin-left: 1.8em;
			@media screen and (max-width:42em) {
				margin-bottom: 1.4em;
			}
		}
	}
	aside {
		display: none;
		p {
			font-size: .82em;
		}
		@media screen and (max-width:42em) {
			display: flex;
			position: fixed;
			bottom: 0px;
			margin: 1em 1em 1em 2em;
			width: calc(100% - 4.5em);
			border-top: 1px solid $secondary-red;
			flex-direction: row;
			color: black;
			z-index: 1000;
			justify-content: space-between;

		}
	}
}

.header {
	.hero {
		display: flex;
		@media screen and (max-width:48em) {
			margin-top: 100px;
		}	
		
		flex-direction: column;
		justify-content: center;
		flex-shrink: 1;
		.break {
			display: block;
		}
		
		p {
			font-size: 1.25rem;
			margin: .5em .5em 0 0;
			@media screen and (max-width:42em) {
				font-size: .94rem;
			}	
		}
		.cta {
			margin-top: 5em;
			@media screen and (max-width:48em) {
				margin-top: 3em;
			}	
		}
	}
	.swiper-container {
		max-width: 420px;
		height: 620px;
		margin-right: 0;
		@media screen and (max-width:48em) {
			margin: 0em auto;
			width: 326px;
		height: 480px;
		}
		@media screen and (max-width:36em) {
			width: 306px;
			height: 450px;
		}
		
	}
	.swiper-slide {
		width: 420px;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		@media screen and (max-width:48em) {
			width: 326px;
		}
		@media screen and (max-width:36em) {
			width: 306px;
		}
	}
}

#features {
	h2 {
		margin: 0 0 1em 0;
		@media screen and (max-width:42em) {
			margin: 2em 0 1em 0;
		}
	}
	.features {
		margin-bottom: 2em;
		h3 {
			margin: 0;
			@media screen and (max-width:48em) {	
				display: inline;
				margin: 0 0 0 1em;
			}	
		}
		img {
			height: 45px;
			
		}
		p {
			color: $primary-gray;
		}
	}
}

#projects {
	.figures {
		margin: 0;
		justify-content: space-between;
		@media screen and (max-width:48em) {	
			justify-content: center;
		}	
		.project {
			margin: 0 0 3em 0;
			max-width: 350px;
			flex-shrink: 1;
			img {
				width: 100%;
				max-width: 350px;
				height: 260px;
				object-fit: cover;
			}
		}
	}
}

#process {
	.steps {
		margin-bottom: 2em;
		display: flex;
		justify-content: space-between;
		.step {
			max-width: 260px;
			@media screen and (max-width:48em) {
				max-width: 100%;
			}	
			h3 {
				margin: 0;
			}
			img {
				height: 95px;
				object-fit: contain;
				margin-bottom: .5em;
				@media screen and (max-width: 42em) {
					height: 60px;
				}
			}	
			p {
				color: $coal;
				font-size: 0.94em;
				@media screen and (max-width:42em) {
					font-size: .75rem;
				}	
			}
			&:last-child img {
				padding-top: 2em;
				z-index: 0;
			}
			&:last-child:before {
				content: '';
				position: absolute;
				background-image: url('../images/clean.png');
				background-size: 3em 3rem;
				margin-left: 3.5em;
				margin-top: -.7em;
				width: 3em;
				height: 3em;
				@media screen and (max-width: 42em) {
					height: 60px;
					background-size: 1.6em 1.6rem;
					margin-left: 1.5em;
					margin-top: .6em;
					width: 1.6em;
					height: 1.6em;
				}
			}
		}
	} 
}

#references {
	.references {
		width: 100%;
		margin: .5em;
		.swiper-container {
      width: 100%;
			height: 249px;
			@media screen and (max-width:42em) {
				height: 187px;
			}
			
    }
    .swiper-slide {	
			padding: 2.9em;
			background: $third-gray;
			max-width: 350px;
      display: flex;
			flex-direction: column;
			justify-content: flex-start;
			@media screen and (max-width:42em) {
				max-width: 262px;
				padding: 1.63em;
			}
			blockquote {
				color: $primary-gray;
				margin: 0;
				line-height: 1.2em;
				font-style: italic;
				&:before {
					content: '\201C';
					position: absolute;
					top: 3em;
					left: 2.2em;
					@media screen and (max-width:42em) {
						top: 1.6em;
					left: 1em;
					}
				}
			}
			p {
				line-height: 1.2em;
				margin: 0;
				color: $primary-gray;
				&:first-child:after {
					content: '\201D';
				}
			}
			h3 {
				margin: 1em 0 0 0;
			}
		}
		.swiper-pagination {
			position: relative;
			top: 1.5em;
			display: flex;
			justify-content: center;
			width: 100%;
			z-index: 100;
			& > * {
				margin: 1.3em;
			}
			@media screen and (max-width:42em) {
				top: .5em
			}
		}
	}
}


#contact {
	.form {
		width: 100%;
		padding: 0.5em;
		.floating-label {
			position: relative;
			margin: 0 auto 1em auto;
			width: 100%;
		}
		.floating-input {
			font-size: 1em;
			display: flex;
			flex-direction: column;
			width: 100%;
			height: 2em;
			color: $coal;
			border: none;
			border-bottom: 1px solid $secondary-red;
		}

		.floating-input:focus {
			outline: none;
			border-bottom: 2px solid $secondary-red;
		}
		legend {
			font-size: 1.3125em;
			font-weight: $font-weight-heavy;
			@media screen and (max-width:42em) {
				font-size: 1.13em;
			}
		}
		label {
			color: $secondary-red;
			font-size: 0.875em;
			font-weight: normal;
			position: absolute;
			pointer-events: none;
			top: 0.2em;
			transition: 0.2s ease all;
		}
		textarea {
			resize: vertical;
		}
		.floating-input:focus ~ label,
		.floating-input:not(:placeholder-shown) ~ label {
			top: -18px;
			font-size: 0.75em;
			color: $secondary-red;
		}
		.floating-input:focus ~ .bar:before,
		.floating-input:focus ~ .bar:after {
			width: 50%;
		}

		.floating-textarea {
			min-height: 30px;
			max-height: 260px;
			overflow: hidden;
			overflow-x: hidden;
		}

		.floating-input:focus ~ .highlight {
			animation: inputHighlighter 0.3s ease;
		}

		@keyframes inputHighlighter {
			to {
				width: 0;
			}
		}
	}
	.contact {
		width: 100%;
		display: flex;
		justify-content: space-between;
		@media screen and (max-width:48em) {
			width: auto;
			justify-content: center;
			}	
		padding-left: .5em;
		.contact-field {
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			padding-left: 1em;
			img {
				margin: .5em;
				width: 45px;
				max-height: 45px;
				object-fit: contain;
				@media screen and (max-width:48em) {
					width: 30px;
				max-height: 30px;
				}	
			}
		}
	}
}



.modal {
	display: none;
	figure {
		margin: 0;
		padding: 0;
		.swiper-container {	
			width: 100%;
			height: 600px;
			@media screen and (max-width:48em) {
				height: 500px;
			}
			@media screen and (max-width:36em) {
				height: 400px;
			}
		}
		
		.swiper-slide {
			background-position: center;
					background-size: contain;
					background-repeat: no-repeat;
		}
	}
}

.modal.is-open {
  display: block;
}

footer {
	margin: 6em 0 3em 0;
	@media screen and (max-width:42em) {
		margin: 1em 0 3em 0;
	}
	picture {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		img {
			width: 174px;
			@media screen and (max-width:42em) {
				width: 112px;
			}
		}
	}
	.footer-content {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		margin-top: .5em;
		flex-wrap: wrap;
		
		.seo {
			flex-wrap: nowrap;
			color: $primary-red;
			@media screen and (max-width:42em) {
				font-size: .63em;
			}
		}
	}
}

